

<nav class="nav navbar navbar bg-warning">
    <h3>Best Constructors in Mumbai</h3>
</nav>

<!-- <div class="container">
    <div class="row">
        <div class="col-md-6" >
            <div *ngFor="let dt of cities">
<div>{{dt}}</div>
<div>{{dt.compName}}</div>
        </div>
    </div>
    </div>
</div> -->

<!-- <tbody>
    <tr *ngFor="let item of companies; let i =index">
       <td>{{i}}</td>
       <td>{{item.name}}</td>
    </tr>
  </tbody> -->


<!-- 
<div >
    <select name="" id="">
        <option *ngFor="let cities of cities">
            {{cities}}
        </option>
    </select>

</div> -->

<div class="container"  *ngIf="cities">
{{cities.compName}}
</div>
